<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="oledb.Properties.Settings.RegisterConnectionString"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Register.mdb"
            providerName="System.Data.OleDb" />
        <add name="oledb.Properties.Settings.RegisterConnectionString1"
            connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=C:\Users\amg\Desktop\oledb\Register.mdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
</configuration>