#TraceConsole
{
    display:block;
    width:100%;
    height:130px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    border: none;
    border-top: double 4px black;
    background-color: #eeeeee;
    font-family: Arial;
    font-size: small;
}
